<!doctype HTML>
<html>

<head>
<title>Admin Login</title>
<link rel="stylesheet" href="style.css">

</head>

<body>
<header>
<h1>CURRENCY MASTER</h1>
<nav>
<a href="home.html">Home</a>
<a href="admin.html">Admin</a>
<a href="user.html">User</a>
<a href="contact.html">Contact Us</a>
</nav>
</header>
<div class="content">
<h2>Admin Login</h2>
<form>
<div class="form-group">
<label>Admin Username:</label>
<input type="text" required="">
<label>Admin Password:</label>
<input type="password" required="">
</div>
<button>Login</button>
</form>
</div>
<footer>
<p>Copyright &copy;2024 --Currency Master website</p>
</footer>
</body>

</html>