<!doctype HTML>
<html>

<head>
<title>Contact Us</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<header>
<h1>CURRENCY MASTER</h1>
<nav>
<a href="home.html">Home</a>
<a href="admin.html">Admin</a>
<a href="user.html">User</a>
<a href="contact.html">Contact Us</a>
</nav>
</header>
<div class="content">
<h2>Contact Us</h2>
<form>
<div class="form-group">
<input type="text" placeholder="Enter your Name" required="">
<input type="email" placeholder="Enter a valid email address" required="">
<input type="text" placeholder="Any queries/suggestions" required="">
</div>
<button>Submit</button>
</div>
<footer>
<p>Copyright &copy;2024 --Currency Master website</p>
</footer>
</body>

</html>