<!doctype HTML>
<html>

<head>
<title>Home</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<header>
<h1>CURRENCY MASTER</h1>
<nav>
<a href="home.html">Home</a>
<a href="admin.html">Admin</a>
<a href="user.html">User</a>
<a href="contact.html">Contact Us</a>
</nav>
</header>
<div class="content">
<h2>Abstract</h2>
<p>Currency Master - Your All-in-One Currency Converter introduces a versatile and user-friendly currency conversion application designed to meet the diverse needs of users in a globalized world. Currency Master aims to simplify currency conversion tasks, providing real-time exchange rates, historical data, and additional features to enhance the overall user experience.</p>
</div>
<footer>
<p>Copyright &copy;2024 --Currency Master website</p>
</footer>
</body>

</html>