<!doctype HTML>
<html>

<head>
<title>Registration Form</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
<header>
<h1>CURRENCY MASTER</h1>
<nav>
<a href="home.html">Home</a>
<a href="admin.html">Admin</a>
<a href="user.html">User</a>
<a href="contact.html">Contact Us</a>
</nav>
</header>
<div class="content">
<h2 style="color:black;">Registration Form</h2>
<form><br>
<div class="form-group">
<label>Firstname:</label>
<input type="text" required="">
<label>Lastname:</label>
<input type="text" required="">
<label>Username:</label>
<input type="text" required="">
<label>Password:</label>
<input type="password" required="">
<label>Email:</label>
<input type="email" required="">
<label>Mobile:</label>
<input type="number" required="">
<label>Gender</label>
<select>
<option>Male</option>
<option>Female</option>
<option>Others</option>
</select>
</div>
<button>Register</button>
<p>Already have an account... Please <a href="user.html">Login Here</a></p>
</form>
</div>
<footer>
<p>Copyright &copy;2024 --Currency Master website</p>
</footer>
</body>

</html>